<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="ainctive underlineHover" > Sign In </h2>
    <h2 class="active underlineHover" >Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/log.png" class="icons" id="icon" alt="User Icon" width="100px" height="100px" />
    </div>
    <h1 class="headingtext">Gas Radar</h1>

    <h1 *ngIf="showSpinner">Please wait...</h1>
    <app-spinner *ngIf="showSpinner"></app-spinner>
    <h1 *ngIf="success">Success!!!</h1>

    <!-- Login Form -->
    <form #f="ngForm" (ngSubmit)="login(f)" *ngIf="showSpinner == false">
      <input name="email" ngModel type="email" id="login" class="fadeIn second" placeholder="E-mail" required>
      <input name="password" ngModel type="password" id="password" class="fadeIn third" placeholder="Password" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>