

<div class="form">
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="input">
        <p class="companyname">{{company}}</p>
        <input type="text" placeholder="Name" ngModel name="company">
      </div>
      <div class="input">
          <p class="headertext">{{address}}</p>
          <input type="text" placeholder="Name" ngModel name="address">
        </div>
      <div class="input">
          <label for="">Physical address: <input type="text" placeholder="Physical address" ngModel name="address"></label><br>
          <p>{{address}}</p>
      </div>
      <div class="telephone">
          <label for="">Telephone No: <input type="text" placeholder="Telephone No" ngModel name="tel"></label><br>
          <p>{{tel}}</p>
      </div>
      <div class="input">
          <label for="">Outlet Type:          
            <select ngModel name="icon">
              <option value="Spaza">Spaza</option>
              <option value="Big Business">Big Business</option>
              <option value="Garage">Garage</option>
            </select>
          </label><br>{{icon}}

      </div>

        <button>submit</button>
      </form>
</div>

<!-- 

  company name
  email
  telephone no
  business type
  address 
  
  settings will be 
  username
  photo and
  logout
-->