<div>
  <agm-map [latitude]="latitude" [disableDefaultUI]="true" [styles]="styles" [zoomControl]="false"
  [streetViewControl]="false" [zoom]="13" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
    <agm-marker *ngFor="let location of locations" [iconUrl]="pump" [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
    <agm-marker [latitude]="latitude" [iconUrl]="man" [longitude]="longitude"></agm-marker>
  </agm-map>
  <!-- <h1>Businesses</h1> -->
  <div class="form-group">
    <!-- <label for="location">Enter A Location</label><input #location type="text" class="form-control">
    <button class="btn btn-primary" (click)="geoLocation(location.value)">Find Location</button>  -->
    <button class="btn btn-success bu" routerLink="/business">Add business</button>
    <button class="btn btn-success bu" routerLink="/business">Add Tips</button>
    <button class="btn btn-success bu" routerLink="/business">Add Add Pictures</button>
  </div>
</div>
