
   <nav class="navb">
      <div class="logo">
        <img class="logo" src="../assets/log.png" alt="">
        <h1 class="heading">GasRadar</h1>
      </div>
    
      <div class="linkcontainer">
        <a class="link activel" routerLink="/nextpage">Business Profile</a>
        <a class="link" routerLink="/products">Products</a>
        <a class="link" (click)=logout() routerLink="/busedit">Logout</a>
      </div>
    
    </nav>
<body class="wrapper">
 
  <div class="main">
    <div class="container">

      <div class="left">
        <div class="logs">
          <img src="../assets/log.png" alt="">
        </div>
        <i>
          <h1>GasRadar</h1>
        </i>

      </div>

      <div class="slider">
        <h2>Business Details</h2>
        <div id="slide">

          <div class="inp">
            <input ngModel [(ngModel)]="company " [value]=company type="text" required="">
            <label for="">Business Name</label>
          </div>
          <div class="inp">
            <input ngModel [(ngModel)]="Owner" [value]=Owner type="text" required="">
            <label for="">Owner Name</label>
          </div>
          <div class="inp">
            <input ngModel [(ngModel)]="address" [value]=address type="text" required="">
            <label for="">Business Address</label>
          </div>
          <br>
          <div class="inp">
            <input ngModel [(ngModel)]="email" [value]=email type="text" required="">
            <label for="">Business E-mail</label>
          </div>
          <div class="inp">
            <input ngModel [(ngModel)]="tel " [value]=tel type="text" required="">
            <label for="">Business Tel</label>
          </div>
          <div class="combo">
            <label class="business" for="business">Shop Type: </label>
            <select ngModel [(ngModel)]="shoptype" name="shoptype" [value]=shoptype class="selects" value="none"
              placeholder="business">
              <option value="spaza">Spaza</option>
              <option value="supermarket">Supermarket</option>
              <option value="garage">Garage</option>
            </select>
          </div>

        </div>
      </div>
    </div>


    <div class="butts">
      <button class="btn" (click)="submit()" type="submit">Next</button>
    </div>
  </div>



</body>
