<body>
    <div class="navb">
        <div class="logo">
        <img src="../assets/log.png" alt="">
        <i><h1>GasRadar</h1></i>
      </div>
      </div>
    
    <div class="main">
      <div class="container">
    
        <div class="left">
            <div class="logs">
                <img src="../assets/log.png" alt="">
              </div>
       <i><h1>GasRadar</h1></i>
       
    
        </div>
    
    
    
        <div class="slider">
            <h2>Business Details</h2>
    <div id="slide">
        
      <div class="inp">
        <input type="text" required=""> 
        <label for="">Business Name</label>
      </div>
        <div class="inp">
          <input type="text" required=""> 
          <label for="">Owner Name</label>
        </div>
       <div class="inp">
          <input type="text" required="" >
          <label for="">Business Address</label>
       </div>
         <br>
         <div class="inp">
            <input type="text"  required="">
            <label for="">Business E-mail</label> 
         </div>
      <div class="inp" >
          <input type="text" required="" >
          <label for="">Business Tel</label>
      </div>
      <div class="combo">
          <label class="business" for="business">Shop Type: </label>
          <select class="selects" value="none" placeholder="business" >
              <option value="spaza">Spaza</option>
              <option value="supermarket">Supermarket</option>
              <option value="garage">Garage</option>
            </select>
          </div>
      
    </div>
       
        </div>
        
    
        
        
         
      </div>
    
    
      <div class="butts">
          <button class="btn" type="submit">Next</button>
        </div>
    </div>
    
     
 
</body>




          <!-- <div id="slide1">
              <h2>Products</h2>
              <div class="inp">
              <input type="text" required="">
              <label for="">LPG Price</label>
            </div>
            <div class="inp">
                <input type="text"required="">
                <label for="">Petrol 95 Price</label>
            </div>
             <div class="inp">
                  <input type="text" required=""> 
                  <label for="">Petrol 93 Price</label>
             </div>
             <div class="inp">
                <input type="text" required=""> 
                    <label for="">Diesel</label>
              </div>
             
              <div class="combo">
              <label class="business" for="business">Shop Type: </label>
              <select class="selects" value="none" placeholder="business" >
                  <option value="spaza">Spaza</option>
                  <option value="supermarket">Supermarket</option>
                  <option value="garage">Garage</option>
                </select>
              </div>
          </div> -->