
   <nav class="navb">
      <div class="logo">
        <img class="log" src="../assets/log.png" alt="">
        <h1 class="heading">GasRadar</h1>
      </div>
    
      <div class="linkcontainer">
          <a class="link" (click)="nextPage('home')">Home</a>
          <a class="link activel" (click)="nextPage('next-page')">My Business </a>
          <a class="link" (click)="modal = 'true'">My Products</a>
          <a class="link" (click)=logout()>Logout</a>
      </div>
    
    </nav>
<body class="wrapper">
 

    <div class="container">

      <div class="left">
        <div class="logs">
          <img src="../assets/log.png" alt="">
        </div>
        <i>
          <h1>GasRadar</h1>
        </i>

      </div>
      
      <div class="slider">
        <h2>My Business Details</h2>
        <div id="slide">

          <div class="inp">
            <input required  ngModel [(ngModel)]="company"  maxlength="30" [value]=company type="text" required="">
            <label for="">Business Name</label>
          </div>
          <div class="inp">
            <input required ngModel [(ngModel)]="Owner" maxlength="25" [value]=Owner type="text" required="">
            <label for="">Owner Name</label>
          </div>
          <div class="inp">
            <input required ngModel [(ngModel)]="address"  maxlength="50" [value]=address type="text" required="">
            <label for="">Business Address</label>
          </div>
          <br>
          <div class="inp">
            <input required ngModel [(ngModel)]="email"  maxlength="30" [value]=email type="email" required="">
            <label for="">Business E-mail</label>
          </div>
          <div class="inp">
            <input required ngModel [(ngModel)]="tel " [value]=tel type="number" required=""  onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;">
            <label for="">Business Tel</label>
          </div>
          <label for="">is required</label>
          <div class="combo">
            <label class="business" for="business">Shop Type: </label>
            <select required ngModel [(ngModel)]="shoptype" name="shoptype" [value]=shoptype class="selects" value="none"
              placeholder="business">
              <option value="spaza">Spaza</option>
              <option value="supermarket">Supermarket</option>
              <option value="garage">Garage</option>
            </select>
          </div>

 <div class="butts">
      <button class="btn" (click)="submit()" type="submit">Next</button>
    </div>
    
        </div>
      </div>
    </div>

<div class="modalf" *ngIf="modal == 'true'">
  
  <div class="alert"> 
    <p class="heading">Error!</p>
    <p class="message">One of the fields are missing or invalid!</p>
    <button class="tn" (click)="modal = 'false'">Okay</button>
  </div>
</div>

<div class="modalf" *ngIf="modal1 == 'true'">
  
    <div class="alert"> 
      <p class="heading">Success!!!</p>
      <p class="message">Your data has successfully been saved</p>
      <button class="tn" (click)="modal1 = 'false'">Okay</button>
    </div>
  </div>
</body>
