// $primary-color-dark:   #1976D2;
// $primary-color:        #2196F3;
// $primary-color-light:  #BBDEFB;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #FFC107;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;






// NEW CSS
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

    .butts{
       margin-top: 2em;
    }
    .btn{
        width: 80%;
        max-width: 35em;
        padding: .8em;
        border: none;
        // text-shadow: 1px 3px 10px ;
        color: $accent-color;
        font-size: 1.1em;
        font-weight: 600;
        background-image:linear-gradient(#2196F3,rgba(grey,1));
        box-shadow: 0 2rem 5rem hsla(0, 0%, 0%, 0.06);
    }

.container{
    position: relative; 
    overflow: hidden;
    padding: 0rem;
    // text-align: center;
    // position: relative;
display: flex;
flex-direction: row;
height: 48em;
width: 90%;
max-width: 75em;
text-align: center;
background: white;
box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
.slider{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 -2.5em 0 0;
    width: 48.5em;
     h2{
         align-items: flex-start;
        margin: 0 0 .5em 0;
        color: $secondary-text-color;
       
    }
}
.inp{
position: relative;
// text-align: center;
}


#slide{
    margin: 0 0 2em 0;
   
    .inp{
    position: relative;
    }
    
    .inp input{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        font-weight: 400;
        color: black;
        /* text-align: center; */
        border-bottom: 2px solid $secondary-text-color;
        width: 80%;
        max-width: 35em;
        margin:20px 0 15px 10px;
        padding: 10px 0 10px 0;
      
    }
    .inp label{
        position: absolute;
        top: 0;
        left:4.4em;
        padding: 30px 0 0 0;
        font-size: 17px;
        font-weight: 650;
        color: #1976D2;
        pointer-events: none;
        transition: .3s;
    }
.inp input:focus{
    transition: .3s ease all;
    border-bottom-color: #1976D2;
}
    .inp input:focus ~ label ,
    .inp input:valid ~ label{
        top: -18px;
        left: 5.8em;
        transition: .3s;
        color: $accent-color;
        font-size: 13px;
        font-weight: 650;
        // border-bottom-color: #1976D2;
    }


    input::placeholder{
        font-size: 1.3em;
        /* padding: 10px; */
    }  
  
    }
}
 .combo{
     margin: 25px 0 0 50px;
    //  box-shadow: 2px 13px 8px rgba(grey,.2);
     .business{
        font-weight: 650;
        font-size: 1.1em;
        color: $secondary-text-color;
        
     }

    .selects{
        color: $secondary-text-color;
        width: 50%;
        max-width: 50em;
        padding: 10px;
        border: none;
        font-weight: 650;
        font-size: 1.1em;
        box-shadow: 0 2rem 5rem rgba(0,0,0,.1);
    }
    option{
        font-weight: 650;
        font-size: 1.3em; 
        color: $secondary-text-color;
    }
 }



.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28em;
    background-position: center;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(#2196F3,5),rgba(grey,.9)),url('../../assets/ac633fd40110397d1dda88bcf40e6216.jpg'); 
    .logs{
        border-radius: 3.8em;
        background-color: none;
        border: none;
    }
    h1{
        position: relative;
        text-align: center;
        color:$accent-color;
        font-family: 'Lobster', cursive ;
        text-shadow: 2px 3px 8px black;
        /* font-family: 'Timmana', sans-serif, Lobster; */
      }
      img{
        height: 100px;
        width: 100px;
        border-radius: 12%;
    }
}


nav{
  
    a{
        padding-left: 18px;
        text-decoration: none;
        color: white;

    }
}
.navb{
    display: flex;
    background-color: #2196F3;
    height: 50px;
    justify-content: space-between;
      position: fixed;
    width: 100vw;

  .logo{
    display: flex;
    justify-content: space-around;
   img{
       height: 50px;
       width: 50px;
   }
    h1{
        font-family: 'Lobster', cursive ;
        color:$accent-color;
        font-size: 1.2em;
        margin-left: 10px;
        // margin-top: 5px;
    }
    }
    .linkcontainer{
        font-family: 'Open Sans', sans-serif !important;
        display: flex;
        align-items: stretch;
        align-self: center;
        font-size: 1.5rem;
        height: 100%;
        .link{
            transition: ease all .2s;
            padding-top: 1.2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem; 
            &:hover{
                background: var(--primary-color-light);
                color: var(--color-grey-dark-1);
            }
        }
        
    }

    .activel{
        background: var(--primary-color-dark);
    }
}
