<!-- <div class="wrapper">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="container">
      <div class="container__headercontainer">
        <div class="container__headercontainer__imagecontainer">
          <img src="{{pic}}" class="img-round image" alt=""
            width="100px" height="100px">
            <input type="file" ngModelOptions="{standalone: true}"  #image accept="image/png, image/jpeg" (change)="insertImage($event)" >
        </div>

        <div class="container__headercontainer__textcontainer">
          <input
          type="text" 
          placeholder="Company Name" 
          class="company"
          name="companyName" 
          required
          ngModel>
        </div>
      </div>

      <div class="container__infocontainer">
        <div class="container__infocontainer__heading">
          <h1 class="heading">Business Profile</h1>
        </div>
        <div class="container__infocontainer__inputs">
          <div class="inputbox"><input 
            name="ownerName" 
            [value]="ownerName"
            type="text"        
            class="form-control textbox" 
            required
            placeholder="Owner Name"
            ngModel
            #name="ngModel">
            <span *ngIf="!name.valid && name.touched" class="help-block helptext">Please enter a valid owner name of this business!</span>
          </div>

          <div class="inputbox">
            <input 
            type="text" 
            name="address" 
            class="form-control textbox" 
            required
            placeholder="Business Address"
            ngModel
            #address="ngModel">
            <span *ngIf="!address.valid && address.touched" class="help-block helptext">Please enter a valid address of this business!</span>
          </div>
          <div class="inputbox">
            <input 
            type="email" 
            [value]="email"
            name="email" 
            class="form-control textbox" 
            required
            placeholder="Business Email"
            ngModel
            #email="ngModel" 
            >
            <span *ngIf="!email.valid && email.touched" class="help-block helptext">Please enter a valid email!</span>
          </div>
          <div class="inputbox">
            <input 
            type="tel" 
            [value]="tel"
            name="telephone" 
            class="form-control textbox" 
            required
            placeholder="Business Telephone"
            ngModel
            #telephone="ngModel">
            <span *ngIf="!telephone.valid && telephone.touched" class="help-block helptext">Please enter a valid telephone!</span>
          </div>
        </div>

        <div class="container__infocontainer__heading">
          <h1 class="heading">Products</h1>
          <div>
        <label class="business" for="business">Shop Type </label>
        <select class="select, input" value="none" placeholder="business" name="shoptype" ngModel #buisness="ngModel">
            <option value="spaza">Spaza</option>
            <option value="supermarket">Supermarket</option>
            <option value="garage">Garage</option>
          </select>
          </div>
        </div>
        <div class="container__infocontainer__inputs">
          <div class="inputbox"><input 
            type="number" 
           
            name="petrol95" 
         
            class="form-control textbox" 
            required
            placeholder="petrol 95 Price"
            ngModel
            #petrol95="ngModel">
            <span *ngIf="!petrol95.valid && petrol95.touched" class="help-block helptext">Please enter a valid price!</span>
          </div>

          <div class="inputbox">
            <input 
            type="number" 
            class="form-control textbox" 
            name="petrol93"
     
            required
            placeholder="Petrol 93 Price"
            ngModel
            #petrol93="ngModel">
            <span *ngIf="!petrol93.valid && petrol93.touched" class="help-block helptext">Please enter a valid price!</span>
          </div>
          <div class="inputbox">
            <input 
            type="number" 
            class="form-control textbox" 
            name="diesel" 
         
            required
            placeholder="Diesel Price"
            ngModel
            #diesel="ngModel">
            <span *ngIf="!diesel.valid && diesel.touched" class="help-block helptext">Please enter a valid price!</span>
          </div>
          <div class="inputbox">
            <input 
            type="number" 
          
            class="form-control textbox" 
            name="lpg" 
            required
            placeholder="LPG Price"
            ngModel
            #lpg="ngModel">
            <span *ngIf="!lpg.valid && lpg.touched" class="help-block helptext">Please enter a valid price!</span>
          </div>
          <div>
           
          </div>
        </div>
        <div class="container__infocontainer__heading">
          <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div> -->