.container{
    background: white;
    width: 80%;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 2px 5px 6px rgba(black, .1);
    &__headercontainer{
        background: #eee;
        border-radius: 5px;
        box-shadow: 2px 3px 6px rgba(black, .1);
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        &__imagecontainer{
           img{
               border-radius: 50%;
           } 
        }
        &__textcontainer{
            flex: 0 0 80%;
            margin-left: 10px;
            input{
                
            }
            .company{
                border: none;
                width: 100%;
                font-size: 3.5rem;
                background: none;
                
            }
            .type{
                border: none;
                width: 100%;
                font-size: 1.8em;
                background: none;
                font-color: #666;
            }
            input:focus{
                outline: none;
            }
            input::placeholder{
            }   
        }
    }
}

.bottombtn{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 1.5em;
}
