<nav class="navb">
  <div class="logo">
    <img class="log" src="../assets/log.png" alt="">
    <h1 class="heading">GasRadar</h1>
  </div>

  <div class="linkcontainer">
      <a class="link" (click)=home() routerLink="/home">home</a>
      <a class="link" (click)="busipage()">Business Profile</a>
      <a class="link activel">Products</a>
      <!-- <a class="link" (click)="More()" routerLink = "/more-info">More-INFO</a> -->
      <a class="link" (click)="logout()" routerLink="/busedit">Logout</a>
  </div>
</nav>

<body class="wrapper">
  <div class="container">
<div class="div1">

</div>

<div class="div2">

</div>
  </div>
<!-- </body> -->


<!-- <h1>we are</h1> -->