// NEW CSS
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

*{
    padding: 0rem;
    margin: 0;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.container{
    height: 75rem;
    width: 90%;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    background-color: white;
    overflow: hidden;
    .div1{
        display: flex;
        justify-content: column;
        align-items: center;
        height: 21.25rem;
        width:75rem;
        border-radius: 0 0 80% 80%/30%;
        background-image:linear-gradient(#2196F3,rgba(grey,1));
       .logo{
           display: flex;
        //    justify-content: column;
           align-items: center;
           height: 18.5rem;
        //    background-color: wheat;
           img{
               height: 10em;
               width: 10em;
           }
       }
       .headertext{
           display: flex;
           align-items: center;
           justify-content: center;
           color: whitesmoke;
        //    background-color: #FFC107;
           height: 18.5rem;
           width: 68rem;
       

           h1{
            margin: 0 5em 0 0;
           }
       }
    
    }
    .div2{
        display: flex;
        flex-direction: row;
        height: 63.75rem;
        width:75rem;
        background-color: white; 
        .sidecons{
            display: flex;
            flex-direction: column;
            align-items: center;
            // align-content: flex-start;
            width: 37.5rem;
            height: 63.75rem;
            background-color: green;
            img{
                margin: 2rem 0 0 ;
                height: 13%;
                width: 20%;
                display: block;
            }
        }
        .info{
            width: 37.5rem;
            height: 63.75rem;
          background-color: orange;
        }
    }
}
.navb{
    display: flex;
    background-color: #2196F3;
    height: 50px;
    justify-content: space-between;
      position: fixed;
    width: 100vw;

  .logo{
    display: flex;
    justify-content: space-around;
   
   img{
       height: 50px;
       width: 50px;
   }
    h1{
        font-family: 'Lobster', cursive ;
        color:$accent-color;
        font-size: 1.2em;
        align-self: center;
        // margin-left: 0 0 0 0;
        // margin-top: 5px;
    }
}
    .linkcontainer{
        font-family: 'Open Sans', sans-serif !important;
        display: flex;
        align-items: stretch;
        align-self: center;
        font-size: 1.5rem;
        height: 100%;
        .link{
            transition: ease all .2s;
            padding-top: 1.2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem; 
            color: white;
            &:hover{
                background: var(--primary-color-light);
                color: whitesmoke;
            }
        }
        
    }

    .activel{
        background: var(--primary-color-dark);
    }
}
