<nav class="navb">
  <div class="logo">
    <img class="log" src="../assets/log.png" alt="">
    <h1 class="heading">GasRadar</h1>
  </div>

  <div class="linkcontainer">
      <a class="link" (click)=home() routerLink="/home">home</a>
      <a class="link" (click)="busipage()">Business Profile</a>
      <a class="link activel">Products</a>
      <!-- <a class="link" (click)="More()" routerLink = "/more-info">More-INFO</a> -->
      <a class="link" (click)="logout()" routerLink="/busedit">Logout</a>
  </div>
</nav>

<body class="wrapper">
  <div class="container">
<div class="div1">
  <div class="logo">
    <img src="../../assets/house (1).png" alt="">
  </div>
  <div class="headertext">
  <h1 text-wrap>Sibusiso's Gas Supply</h1>
  </div>
</div>

<div class="div2">
<div class="sidecons">
  <div class="icons">
<img src="../../assets/manager.png" alt="">
<img src="../../assets/call-answer.png" alt="">
<img src="../../assets/arroba-sign.png" alt="">
<img src="../../assets/home.png" alt="">
<!-- <img src="../../assets/" alt=""> -->
</div>

<div class="infom">
        <h2>Owner's Name</h2>
        <h2>E-mail</h2>
        <h2>Address</h2>
        <h2>Tel</h2>
</div>

</div>

<div class="info">
  <div class="text">
      <h2>Owner's Name</h2>
  </div>
  <div class="text">
      <h2>Tel</h2>
  </div>
  <div class="text">
      <h2>E-mail</h2>
  </div>
  <div class="text">
      <h2>Address</h2>
  </div>
  <!-- <div class="text">
      <h2>Owner's Name</h2>
  </div> -->


</div>
</div>
  </div>
<!-- </body> -->


<!-- <h1>we are</h1> -->