<div class="dashcontainer">
  <div class="dash">
    <div class="profile">
      <img src="../../assets/46523495_663028130765239_9096388730293321728_n.jpg" alt="" class="profileImage">
      <div class="profiletextcontainer">
        <p class="name">{{username}}</p>
        <p class="email">{{email}}</p>
      </div>
    </div>
    <div routerLink="profile"  class="menuitem active">
      <p class="text">Business Profile</p>
    </div>
    <div routerLink='products' class="menuitem">
      <p  class="text">Products</p>
    </div>
    <div routerLink='settings' class="menuitem">
      <p  class="text">Settings</p>
    </div>
  </div>
  <div class="dashcards">
      <router-outlet></router-outlet>
  </div>

</div>