$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.dashcontainer{
    display: flex;
    height: 89.1vh;
    margin-top: -2rem;
    flex-basis: 0 0 100%;
    margin-bottom: 1rem;

    .dash{
        background: $primary-text-color;
        display:flex;
        flex-flow: column;
        flex: 0 2 0;
        color: $primary-color-text;
        box-shadow: .4rem 0 .6rem rgba(black, .6);
        .profile{
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            padding-right: 1rem;
            .profileImage{
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                display: block;
                
            }

            .profiletextcontainer{
                margin-left: .5rem;
                margin-top: 1rem;

                .name{
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                .email{
                    font-size: 1.4rem;
                    color: $secondary-text-color;
                }
            }
        }

        .menuitem{
            // background: yellow;
            transition: all .3s ease-in-out;
            display: flex;
            align-content: center;
            padding-left: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            &:hover{
                background: $primary-color;
                color: $primary-text-color;
                font-size: 1.8rem;
                letter-spacing: .2rem;
            }

            p.text{
                padding: 0;
                margin: 0;
            }
        }
    }

    .dashcards{
        background: rgb(255, 255, 255);
        width: 80%;
        margin-left: 1rem;
        margin-top: 2rem;
        flex: 4 0 0;
        height: 20rem;
    }

.active{
    background: $primary-color;
    color: $primary-text-color;
    font-size: 1.8rem;
    letter-spacing: .2rem;
}
}