@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}


  
:root {

    --primary-color-dark:   #1976D2;
    --primary-color:        #2196F3; 
    --primary-color-light:  #BBDEFB;
    --primary-color-text:   #FFFFFF;
    --accent-color:         #FFC107;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
    

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    @import url('https://fonts.googleapis.com/css?family=Lobster|Poppins');
    font-family: 'Poppins', sans-serif !important;
}

body {
    // font-family: 'Nunito Sans', sans-serif;

    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--primary-color), var(--primary-color-dark));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    .swal2-height-auto {
        height: -100vh;
    }
}

.submit{
    background: #2196F3;
    padding: 1rem 3rem !important; 
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .5rem;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    box-shadow: 0 0 2rem rgba(#2196F3, .5);   
    color: white;   
    transition: .3s ease all;
    border: .2rem solid  transparent; 
    &:focus{
      outline: none;
    }

    &:hover{
      background: white;
      border: .2rem solid #2196F3;
      color: #2196F3;
    }
  }

  .formelement{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem !important;
    border-radius: 2px;
    background-color: rgba(white, .5); 
    border: 1px solid #eee;
    // border-bottom: 3px solid transparent;
    width: 80%; 
    display: block;
    transition: all .3s;
    margin-top: 1rem !important;
    margin-left: 1rem !important; 
    border-radius: 10rem; 
    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, .1);
        border-bottom: 3px solid #2196F3;
    }

    &:focus:invalid {
        border-bottom: 3px solid red;
    }

    &::-webkit-input-placeholder {
        color: #666;
    }
    &:last-child{
      margin-bottom: 2rem; 
    }
  }