<nav class="navb">
  <div class="logo">
    <img class="logo" src="../assets/log.png" alt="">
    <h1 class="heading">GasRadar</h1>
  </div>

  <div class="linkcontainer">
    <a class="link" (click)=home() routerLink="/home">home</a>
    <a class="link activel" routerLink="/nextpage">Business Profile</a>
    <a class="link" routerLink="/products">Products</a>
    <a class="link" (click)=logout() routerLink="/busedit">Logout</a>
  </div>

</nav>

<div class="map">

</div>

<nav class="navb">
  <div class="logo">
    <img class="logo" src="../assets/log.png" alt="">
    <h1 class="heading">GasRadar</h1>
  </div>

  <div class="linkcontainer">
    <a class="link" (click)=home() routerLink="/home">home</a>
    <a class="link activel" routerLink="/nextpage">Business Profile</a>
    <a class="link" routerLink="/products">Products</a>
    <a class="link" (click)=logout() routerLink="/busedit">Logout</a>
  </div>

</nav>

<div class="contentcontainer">
  <div class="main">
    <div class="listcontainer">
      <div *ngFor="let location of locations" (click)="return(location)" class="card">
        <p class="heading">{{location.name}}</p>
        <p class="text">{{location.address}}</p>
      </div>
    </div>
    <div class="mapcontainer">
      <agm-map [latitude]="latitude" [disableDefaultUI]="true" [zoomControl]="false" [streetViewControl]="false" [zoom]="13"
        [longitude]="longitude" [latitude]="latitude" (mapClick)="onChoseLocation($event)">
        <agm-marker (markerClick)="return(location)" *ngFor="let location of locations" [iconUrl]="pump" [latitude]="location.lat"
          [longitude]="location.lng"></agm-marker>
        <agm-marker [latitude]="latitude" [iconUrl]="man" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="outlets">
    <div class="totalcontainer"> All Outlets: {{totalOulets}}</div>
    <div class="garage">Total Shops: {{totalSpaza}}</div>
    <div class="spaza">Total Garages:{{totalGarage}}</div>
  </div>
</div>