
.navb{
    display: flex;
    background-color: var(--primary-color);
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    /* width: 200em; */
    position: fixed;
    width: 100vw;
    color: white !important;
.logo{
    display: flex;
   img{
       height: 5rem;
       width: 5rem
   }
    h1{
        font-family: 'Lobster', cursive ;
        color:var(--accent-color);
        font-size: 2.5rem;
        margin: 0;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
}
    .linkcontainer{
        font-family: 'Open Sans', sans-serif !important;
        display: flex;
        align-items: stretch;
        align-self: center;
        font-size: 1.5rem;
        height: 100%;
        .link{
            transition: ease all .2s;
            padding-top: 1.2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            color: white; 
            &:hover{
                background: var(--primary-color-light);
                color: var(--color-grey-dark-1);
                text-decoration: none;
            }
        }
        
    }

    .activel{
        background: var(--primary-color-dark);
    }
} 

.contentcontainer {
    position: fixed;
    width: 100vw;
    top: 5rem;
    height: 96vh;
    display: flex;
    flex-flow: column; 
    .main{
        display: flex;
        flex-flow: row nowrap;
        height: 70%; 
        background:var(--color-grey-light-1);
        .listcontainer{
            flex: 0 0 35%;
            height: 100%;
            overflow-y: scroll; 
            padding: 1rem;
            .card{
                box-shadow: 0 0 .9rem rgba(black, .5);
                margin: 2rem 0;
                border-radius: .5rem;
                padding: .5rem;
                display: flex;
                align-items: center;
                transition: .3s ease all;
                &:hover{
                    background: var(--primary-color-light);
                }
                .icon{
                    width: 5rem;
                    height: 5rem;
                }
                .heading{
                    font-size: 2rem;
                    text-transform: capitalize;
                }

                .text{
                    font-size: 1.6rem;
                    color: var(--color-grey-dark-2);
                    text-transform: capitalize;

                }
                &:hover{
                    background: var(--primary-color) !important;
                    color: var(--accent-color);
                }
            }
            .card:nth-child(even){
                background: var(--color-grey-light-3);
                animation: left .5s ease;
            }
            .card:nth-child(odd){
                animation: right .5s ease;
            }
        }
        .mapcontainer{
            flex: 1;
            position: relative;
            button{
                position: absolute;
                top: 1rem;
                right: 1rem;
                border: none;
                border-radius: 100%;
                padding: 2.5rem;
                transition: .3s;
                background: var(--accent-color);
                box-shadow: 0 0 2rem rgba(black, .4);
                &:hover{
                    transform: scale(1.1);
                }
                &:hover + label{
                    // width:2rem;
                    opacity: 1;
                    position: absolute;
                    top: 3rem;
                    right: 8.5rem;
                    display: inline-block;
                    transform: scale(1);
                }
                &:focus{
                    // outline: none;
                }
            }
        }
    }

    .outlets{
        display: flex;
        flex-flow: row nowrap;
        height: 30%;
        background: linear-gradient(to right bottom, rgba(red, .4), var(--primary-color-dark)) , url('../../assets/jonathan-petersson-217672-unsplash.jpg');
        background-size: cover;
        background-position: center;
        // border-top: 1px solid var(--color-grey-light-2);
        // box-shadow: 0 .3rem .5rem rgba(black, .3);
        .outletcontainer{
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;

            justify-content: center;
            transition: .2s ease all;
            .outlet{
                width: 100%;
                box-shadow:  0 .3rem  .5rem black;
                padding: 2rem;
                margin: 1rem;
                background: rgba(white, .9);
                transition: ease all .4s;
                border-radius: .3rem;
                &:hover{
                    box-shadow:  0 .3rem  4rem black;
                    background: var(--primary-color);
                    color: var(--accent-color);
                    transform: translateY(-.5rem);
                }
                .heading{
                    font-size: 2.5rem;
                    text-align: center;
                }
    
                .number{
                    font-size: 5rem;
                    text-align: center;
                }
            }

        }

        .containericon{
            height: 6rem;
            width: 6rem;
            display: block;
            margin: 0 auto;
        }
    }

}

agm-map{
    height: 100%;
    width: 100%;
}


.icondd{
    height: 7rem;
    width: 7rem;
    display: block;
    margin: 0 auto;
}

.listcontainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.listcontainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.listcontainer::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }


// Popup CSS



  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  .listspinner{
      .loading{
          font-size: 2rem;
          text-align: center;
          color: var(--color-grey-dark-2);
      }
  }

  @keyframes left{
      0%{
        opacity: 0;
        transform: translateX(-1rem);
      }

      100%{
        opacity: 1;
        transform: translateX(0);
      }
  }

  @keyframes right{
    0%{
        opacity: 0;
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


.modalf{ 
    background: rgba(black, .8);
    position: fixed;  
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    z-index: 99999;
    margin: 0 auto;
    animation: fadein .3s ease;



      // NEW CSS
    display: flex;
    justify-content: center;
    align-items: center;
    
    .alert{
        background: transparent !important;
    }
    
    .container{
        
        height: 75rem;
        margin: 0 auto;
        max-width: 75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        background-color: var(--color-grey-light-1);
        overflow: hidden;
        border-radius: .5rem;
        .div1{
            display: flex;
            justify-content: column;
            align-items: center;
            height: 21.25rem;
            // width:75rem;
            border-radius: 0 0 80% 80%/30%;
            border-bottom: 3px solid $accent-color;
            background-image:linear-gradient(#2196F3,rgba(grey,1));
           .logo{
               display: flex;
               justify-content: center;
               align-items: center;
               height: 18.5rem;
               width:20rem;
            //    background-color: wheat;
               img{
                   height: 10em;
                   width: 10em;
               }
           }
           .headertext{
               display: flex;
               align-items: center;
               justify-content: center;
               color: whitesmoke;
            //    background-color: #FFC107;
               height: 18.5rem;
               width: 68rem;
           
    
               h1{
                margin: 0 5em 0 0;
                color: $accent-color;
               }
           }
        
        }
        .div2{
            display: flex;
            flex-direction: row;
            height: 63.75rem;
            width:75rem;
            // background-color: white; 
            .sidecons{
                display: flex;
                flex-direction: row;
                // align-items: center;
                // align-content: flex-start;
                width: 37.5rem;
                height: 56.3rem;
                // background-color: green;
                .icons{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width:14.75rem;
                    height: 56.3rem;
                    align-items: center;
                    // background-color: grey;
                    .con{
                        display: flex;
                        justify-content: center;
                        width:14.75rem;
                        height:10rem; 
                   
                    }
                     img{
                    margin: 0 0 0 1rem;
                    height: 30px;
                    width: 30px;
                    // display: block;
                }
                }
                .infom{
                    display: flex;
                    flex-direction: column;
                    // align-content: center;
                    justify-content: center;
                    width:23.75rem;
                    height: 56.3rem;
                    // align-items: center;
                    // background-color: orangered;
                    .details{
                        display: flex;
                        flex-direction: column;
                        align-items:flex-start ;
                        width:14.75rem;
                        // padding: .5rem 0 0;
                        height:10rem; 
                        // background-color: lightgreen;
                     
                    }
                    p{
                        margin:0 0 1rem;
                    }
                    h2{
                    margin: 0;
                    font-size: 2rem;
                    // margin: 0 0 1rem;
                    color: $secondary-text-color;
                    }
                }
               
            }
            .info{
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                width: 37.5rem;
                height: 56.3rem;
                margin: 5rem 0 0;
                // padding: 1rem 0 0 2rem;
            //   background-color: orange;
            //   border-radius: 80% 80% 0 0/30%;
            }
            .gas{
                display: flex;
                flex-direction: column;
                margin: 5rem 0 0;
                // padding: .5rem;
                width: 34.5rem;
                height: 15.15rem;
                box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.2);
                border-radius: 12px;
                // background-color: purple;
                .head{
                    display: flex;
                    flex-direction: row;
                    width: 37.5rem;
                    height: 10rem;
              
                    // background-color: palegreen;
                    .pic{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 14.75rem;
                        height: 10rem;
                        // background-color: pink;
                        img{
                            height:60px;
                            width: 60px;
                        }
                    }
                    .prod{
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                        width: 22.75rem;
                        height: 10rem;
                        // background-color: burlywood;
                        h1{
                            color: $secondary-text-color;
                        }
                    }
                }
    
                .head2{
                    display: flex;
                    align-items: center;
                    width: 37.5rem;
                    height: 18.15rem;
                    // background-color: palegreen;
                    .text{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 33rem;
                        // margin: 2rem 0;
                        height: 5.15rem;
                        color: $secondary-text-color;
                        font-size: 1.8rem;
                        // background-color: #212121;
                    }
                }
            }
            .fuel{
                display: flex;
                flex-direction: column;
                // align-items: center;
                width: 34.5rem;
                height: 15.15rem;
                margin: 1rem 0 4em 0;
                border-radius: 12px;
                box-shadow: 0 1rem 5rem 0  rgba(0,0,0,.3);
                // background-color: lawngreen;
                .head{
                    display: flex;
                    flex-direction: row;
                    width: 37.5rem;
                    height: 10rem;
                }
                p{
                    font-size: 1.8rem;
                    // margin: 2rem 0 0;
                    color: $secondary-text-color;
                }
                .prod{
                    display: flex;
                    color: $secondary-text-color;
                    // justify-content: center;
                    align-items: center;
                    width: 22.75rem;
                    height: 10rem;
                    // background-color: burlywood;
                }
                .pic{
                    display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 14.75rem;
                        height: 10rem;
                        // background-color: pink; 
                img{
                    height: 50px;
                    width: 50px;
                }
            }
            .fuelprice{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 33rem;
                height: 5.15rem;
                
            }
            }
          
        }
    }
    .navb{
        display: flex;
        background-color: #2196F3;
        height: 50px;
        justify-content: space-between;
          position: fixed;
        width: 100vw;
    
      .logo{
        display: flex;
        justify-content: space-around;
       
       img{
           height: 50px;
           width: 50px;
       }
        h1{
            font-family: 'Lobster', cursive ;
            color:$accent-color;
            font-size: 1.2em;
            align-self: center;
            // margin-left: 0 0 0 0;
            // margin-top: 5px;
        }
    }
        .linkcontainer{
            font-family: 'Open Sans', sans-serif !important;
            display: flex;
            align-items: stretch;
            align-self: center;
            font-size: 1.5rem;
            height: 100%;
            .link{
                transition: ease all .2s;
                padding-top: 1.2rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem; 
                color: white;
                &:hover{
                    background: var(--primary-color-light);
                    color: whitesmoke;
                }
            }
            
        }
    
        .activel{
            background: var(--primary-color-dark);
        }
    }
      
    
    .alert{
        background: white;
        width: 70%;
        margin: 0 auto;
        display: block;
        margin: 20rem;
        animation: movedown .4s ease;
        .heading{
            font-size: 3.5rem;
            font-weight: 400;
            text-align: center;
        }

        .message{
            font-size: 2.5rem;
            text-align: center;
        }

        .tn{
            margin: 0 auto;
            display: block;
            margin-top: 2rem;
            background: var(--primary-color);
            border: none;
            border-radius: 1rem;
            padding: 1rem 5rem;
            font-size: 2.5rem;
            color: white;
            font-weight: 400;
            transform: translateY(-5rem);
        }
    }

    
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes movedown{
    0%{
        opacity: 0;
        transform: translateY(-1.2rem); 
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.label1{
    color: white;
    background: rgba(black, .8);
    position: absolute;
    display: inline-block;
    top: 3rem;
    right: .5rem;
    opacity: 0;
    padding: .5rem;
    border-radius: .5rem;
    transform: scale(0);
    transition: .3s ease all;
}