<div class="container">
  <div class="navbar">
    <div class="logo">
      <img src="../../assets/log.png" alt="" class="icon">
      <p class="title">GasRadar</p>
    </div>
    <div (click)="page = 'logout'" class="account">
      <img class="ico" src="../../assets/avatarimg.svg" alt="">
      <p class="name" ></p>
    </div>
  </div>

  <div [ngStyle]="{'filter':page === 'home' ? 'blur(0)' : 'blur(.3rem)' }" class="maplay">
    <agm-map [latitude]="latitude" [styles]="styles" [disableDefaultUI]="true" [zoomControl]="false" [streetViewControl]="false"
    [zoom]="11" [longitude]="longitude" [latitude]="latitude" (mapClick)="onChoseLocation($event)">

      <agm-marker *ngFor="let location of locations" (markerClick)="return(location); page = 'info'"  iconUrl="../../assets/houseicon.png"
 [latitude]="location.lat"
      [longitude]="location.lng"></agm-marker>


    <agm-marker [latitude]="latitude" [draggable]="false" [iconUrl]="man" [longitude]="longitude"></agm-marker>
    <agm-circle [latitude]="latitude" [longitude]="longitude" [circleDraggable]="false" [editable]="false" [fillColor]="'#FFC107'"
      [radius]="10000">
    </agm-circle>
  </agm-map>
  </div>


  <!-- List of cards -->
  <div class="cardlist" *ngIf="page == 'home'">
    <p class="heading">Businesses Around You</p>
    <div class="cardcontainer">
      <div class="card" *ngFor="let location of locations" (click)="return(location);page = 'info'">
        <img src="../../assets/pin (2).png" class="icon" alt="" *ngIf="location.icon == 'garage'" >
        <img src="../../assets/house (1).png" class="icon" alt="" *ngIf="location.icon != 'garage'">
        <div class="textcontainer">
          <p class="business">{{location.name | slice:0:25}}</p>
          <p class="location">{{location.address | slice:0:25}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="buttonconainer">
    <button class="fab"><i class="fas fa-bars"></i></button>
    <div class="fablist">
      <div class="fabcont" (click)="page = 'home'; test()">
        <button  class="minifab"><i class="fas fa-building"></i></button>
        <div class="text">My Home</div>
      </div>
      <div class="fabcont" (click)="business();page = 'business'; test()">
        <button  class="minifab"><i class="fas fa-handshake"></i></button>
        <div class="text">My Business</div>
      </div>
     
      <div class="fabcont" (click)="view();page = 'product'; test()">
        <button  class="minifab"  ><i class="fas fa-box-open"></i></button>
        <div class="text">My Products</div>
      </div>
    </div>
  </div>

<!-- Business Profile -->
<div class="formcontainer" *ngIf="page == 'business'">
  <div class="sidebar">
    <i class="fas fa-handshake icon"></i>
  </div>
  <div class="formelements">
    <h1 class="heading">My Business</h1>
    <input type="text" class="formelement"  [(ngModel)]="userName" maxlength="30" placeholder="Business Name"><label for="" class="label1">Business Name</label>
    <input type="text" class="formelement" (keydown)="alphaOnly($event)" [(ngModel)]="userOwner" maxlength="25" placeholder="Owner"><label for="" class="label1">Owner</label>
    <input type="text" class="formelement" [(ngModel)]="userAddress" maxlength="50" placeholder="Address"><label for="" class="label1">Address</label>
        <input type="email" class="formelement" [(ngModel)]="userEmail" maxlength="30"  placeholder="Business Email"><label for="" class="label1">Business Email</label>
    <input type="text" (keypress)="keyPress($event)" minlength="10" maxlength="10" class="formelement" [(ngModel)]="userTel" placeholder="Business Telephone" onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;"><label for="" class="label1">Business Telephone</label>
    
    <div class="inputGroup">
        <input id="radio1" [(ngModel)]="shoptype" value="spaza"  name="radio" type="radio"/>
        <label for="radio1">Local Business</label>
      </div>
      <div class="inputGroup">
        <input id="radio2" [(ngModel)]="shoptype" value="garage"  name="radio" type="radio"/>
        <label for="radio2">Garage</label>
      </div>

    <button class="submit" (click)="submit()">Submit Details</button>
  </div>
</div>


<!-- Products -->
<div class="formcontainer" *ngIf="page == 'product'">
  <div class="sidebar">
      <i class="fas fa-box-open icon"></i>
  </div>
  <div class="formelements">
    <h1 class="heading">My Products</h1>
    <input [cleave]="{numeral: true,
      numeralThousandsGroupStyle: 'thousand'}"type="number" class="formelement" [(ngModel)]="product_Gas" placeholder="LPG Gas Per 9kg" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" ><label for="" class="label1">LPG Gas Per 9kg</label>

    <p class="question">Do You Sell Anything Other Than Gas?</p>
    <div class="inputGroup">
        <input id="radio1" name="radio" type="radio"/> 
        <label for="radio1">Yes</label> 
      </div>
      <div class="inputGroup">
        <input id="radio2" name="radio" type="radio"/>
        <label for="radio2">No</label>
      </div>

      <input [cleave]="{numeral: true,blocks: [2, 2]}" type="number" class="formelement"  [(ngModel)]="product_Petrol93"  placeholder="Petrol 93 Per Litre" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"  ><label for="" class="label1">Petrol 93 Per Litre</label>
      <input [cleave]="{numeral: true,blocks: [2, 2]}" type="number" class="formelement"  [(ngModel)]="product_Petrol95" placeholder="Petrol 95 Per Litre" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"  ><label for="" class="label1">Petrol 95 Per Litre</label>
      <input [cleave]="{numeral: true,blocks: [2, 2]}" type="number" class="formelement" [(ngModel)]="product_Diesel" placeholder="Diesel Per Litre" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" ><label for="" class="label1" >Diesel Per Litre</label>  

    <button class="submit" (click)="edit()">Submit Details</button>
  </div>
</div>

<div class="formcontainer" *ngIf="page == 'info'">
  <div class="sidebar">
    <i class="fas fa-handshake icon"></i>
  </div>
  <div class="formelements">
    <h1 class="heading">Business Information</h1>
    <div class="itemcontainer">
      <p class="icon"><i class="far fa-building"></i> Name</p>
      <p class="text">{{name}}</p>
    </div>
        <div class="itemcontainer">
      <p class="icon"><i class="fas fa-map-marker-alt"></i> Address</p>
      <p class="text">{{address}}</p>
    </div>
    <div class="itemcontainer">
      <p class="icon"><i class="fas fa-user"></i> Owner</p>
      <p class="text">{{owner}}</p>
    </div>
    <div class="itemcontainer">
      <p class="icon"><i class="fas fa-envelope"></i> Email</p>
      <p class="text">{{email}}</p>
    </div>
    <div class="itemcontainer">
      <p class="icon"><i class="fas fa-phone"></i> Contact No.</p>
      <p class="text">{{tel}}</p>
    </div>
    <div class="itemcontainer" *ngIf="gas !> 0">
      <p class="icon"><img src="../../assets/gas-cylinder.png" alt="" class="fuelicon"> Gas Per 9kg</p>
      <p class="text">R{{gas}}</p>
    </div>
    <div class="itemcontainer" *ngIf="petrol93 !> 0">
      <p class="icon"><img src="../../assets/gas-station.png" alt="" class="fuelicon"> Petrol 93 Per Litre</p>
      <p class="text"> R{{petrol93}}</p>
    </div>
    <div class="itemcontainer" *ngIf="petrol95 !> 0">
      <p class="icon"><img src="../../assets/gas-station.png" alt="" class="fuelicon"> Petrol 95 Per Litre</p>
      <p class="text"> R{{petrol95}}</p>
    </div>
    <div class="itemcontainer" *ngIf="diesel !> 0">
      <p class="icon"><img src="../../assets/tank-truck.png" alt="" class="fuelicon"> Diesel Per Litre</p>
      <p class="text"> R{{diesel}}</p>
    </div>

    <button (click)="page = 'home'" class="submit">Close</button>
  </div>
</div>

<div class="errmodal" *ngIf="error == 'true'">
  <div class="icon">
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div class="textconainer">
    <p class="message">A Field Is Empty</p>
  </div>
</div>
<!-- <div class="modal">
  <div class="icon">
      <i class="fas fa-info-circle"></i>
  </div>
  <div class="textconainer">
    <p class="message">Your data was successfully submitted</p>
  </div>
</div> -->

<div class="box" *ngIf="locations.length < 1">
    <app-loader></app-loader>
</div>

<!-- <div class="navcontainer">
    <img src="../../assets/log.png" alt="" class="navicon">
    <h1 class="navheading">GasRadar</h1>
      <a class="link">About GasRadar</a>
    <a class="link">Logout</a>
  </div>
<input type="checkbox" class="logout">
<div class="dialog">

</div> -->
<div class="logout" *ngIf="page == 'logout'">
  <div class="modial">
    <p class="modhead">Logout from</p>
    <p class="subhead">maimane23@hotmail.com</p>
    <div class="buttonrow">
      <button (click)="logOut()" class="submit mar">Yes</button>
      <button (click)="page = 'home';" class="submit bt2">No</button>
    </div>
  </div>

</div>


<!-- MODAL 1 -->
<div class="modalf"  *ngIf="modal == 'true'">

  <div class="alert">
    <div class="container">
      <div class="div1">
        <div class="logo">
          <img src="../../assets/log.png" alt="">
        </div>
        <div class="headertext">
          <h1 text-wrap>{{name}}</h1>
        </div>
      </div>

      <div class="div2">
        <div class="sidecons">
          <div id="icons">
            <div id="con" >
              <img src="../../assets/manager.png"  class="animated infinite bounce delay-2s" alt="">
            </div>
            <div id="con">
              <img src="../../assets/arroba-sign.png" alt="">
            </div>
            <div id="con">
              <img src="../../assets/home.png" alt="">
            </div>
            <div id="con">
              <img src="../../assets/call-answer.png" alt="">
            </div>

          </div>

          <div class="infom">
            <div class="details">
              <h2>Owner's Name</h2>
              <p>{{owner}}</p>
            </div>
            <div class="details">
              <h2>E-mail</h2>
              <p>{{email}}</p>
            </div>
            <div class="details">
              <h2>Address</h2>
              <p>{{address}}</p>
            </div>
            <div class="details">
              <h2>Tel</h2>
              <p>{{tel}}</p>
            </div>
          
          </div>

        </div>

        <div class="info">
          <div class="gas" *ngIf="gas !> 0">
            <div class="head">
              <div class="pic">
                <img src="../../assets/gas-cylinder.png" alt="">
              </div>
              <div class="prod">
                <h1>LPG</h1>
              </div>
            </div>

            <div class="head2">
              <div class="text">
                <p>9 kg</p> - <p>R{{gas}}</p>
              </div>
            </div>

          </div>

          <div class="fuel" *ngIf="petrol93 !> 0">
            <div class="head">
              <div class="pic">
                <img src="../../assets/gas-station.png" alt="">
              </div>
              <div class="prod">
                <h1>FUEL</h1>
              </div>
            </div>
            <div class="fuelprice">
              <p>Petrol 93: R{{petrol93}}</p> - <p>Petrol 95: R{{petrol95}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <button  class="animated infinite bounce delay-2s" id="tn" (click)="modal = 'false'">Okay</button>
  </div>
</div>

<!-- MODAL 2 -->
<div class="modalf"  *ngIf="modal2 == 'true'">
<div class="alert">
  <div class="container2">

    <div class="left">
      <div class="logs">
        <img src="../assets/log.png" alt="">
      </div>
      <i>
        <h1>GasRadar</h1>
      </i>

    </div>

    <div class="slider">
      <h2>My Business Details</h2>
      <div id="slide">

        <div class="inp">
          <input required ngModel [(ngModel)]="userName" maxlength="30" [value]=company type="text" required="">
          <label for="">Business Name</label>
        </div>
        <div class="inp">
          <input required ngModel [(ngModel)]="userOwner" maxlength="25" [value]=Owner type="text" required="">
          <label for="">Owner Name</label>
        </div>
        <div class="inp">
          <input required ngModel [(ngModel)]="userAddress" maxlength="50" [value]=address type="text" required="">
          <label for="">Business Address</label>
        </div>
        <br>
        <div class="inp">
          <input required ngModel [(ngModel)]="userEmail" maxlength="30" [value]=email type="email" required="">
          <label for="">Business E-mail</label>
        </div>
        <div class="inp">
          <input required ngModel [(ngModel)]="userTel" [value]=tel type="number" required="" onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;">
          <label for="">Business Tel</label>
        </div>
        <label for="">is required</label>
        <div class="combo">
          <label class="business" for="business">Shop Type: </label>
          <select required ngModel [(ngModel)]="shoptype" name="shoptype" [value]=shoptype class="selects" value="none"
            placeholder="business">
            <option value="spaza">Spaza</option>
            <option value="supermarket">Supermarket</option>
            <option value="garage">Garage</option>
          </select>
        </div>

        <div class="butts">
          <button class="btn" (click)="submit()" type="submit">Save</button>
        </div>

      </div>
    </div>
  </div>
  <button  class="animated infinite bounce delay-2s" id="tn" (click)="view();modal3 = 'true';modal2 = 'false'" >Next</button>
</div>

</div>

<!-- MODAL 3 -->
<!-- (click)="modal3 = 'false'" -->
<div class="modalf"  *ngIf="modal3 == 'true'">
  <div class="alert">
    <div class="main">
      <div class="container3" >
  
        <div class="left">
          <div class="logs">
            <img src="../assets/log.png" alt="">
          </div>
          <i>
            <h1>GasRadar</h1>
          </i>
        </div>
  
  
  
        <div class="right">
          <h2>My Product Prices</h2>
          <div class="grid">
              <!-- this.product_Petrol95 =0;
              this.product_Petrol93 =0;
             this.product_Gas =0;
              this.product_Diesel =0; -->
            <div class="fuel1">
              <div class="box1">
                <div class="imge">
                  <img src="../../assets/gas-cylinder.png" alt="">
                </div>
                <div class="text">
                  <h2>LPG Gas </h2>
                 
                  <input  type="number"  [(ngModel)]="product_Gas" placeholder="R"onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" > <br>
          
                </div>
              </div>
              <div class="box2">
                <div class="imge">
                  <img src="../../assets/tank-truck.png" alt="">
                </div>
                <div class="text">
                  <h2>Diesel</h2>
                  <input type="number"  [(ngModel)]="product_Diesel" placeholder="R" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" > <br>
               
                </div>
              </div>
            </div>
            <div class="fuel2">
              <div class="div1">
                <div class="imge">
                  <img src="../../assets/gas-station.png" alt="">
                </div>
                <div class="text">
                  <h2>Petrol 95</h2>
                  <input type="number" [(ngModel)]="product_Petrol95" placeholder="R" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" > <br>
          
                </div>
              </div>
  
              <div class="div2">
                <div class="imge">
                  <img src="../../assets/gas-station.png" alt="">
                </div>
                <div class="text">
                  <h2>Petrol 93</h2>
                  <input type="number"  [(ngModel)]="product_Petrol93" placeholder="R" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;"   > <br>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
  
  
  
  
      </div>
  
  
      <div class="butts">
        <button class="btn" type="submit" (click)="edit();modal3 = 'false'">Submit</button>
      </div>
    </div>
  </div>
</div>