<div class="content">
    <div class="modal-content">
        <div class="modalcontent">
          <div class="modalcontent__textcontainer">
            <h1 class="modalcontent__textcontainer--heading">Sign Up</h1>
            <p class="modalcontent__textcontainer--subtext">Enter your credentials to register</p>
          </div>
          <div class="modalcontent__iconcontainer">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </div>
      
        <div class="formcontent">
          <div class="input-group">
            <input #username type="text" name="username" class="form-control" placeholder="Username"
              aria-describedby="basic-addon1" required>
            <input #email type="email" name="email" class="form-control" placeholder="Email"
              aria-describedby="basic-addon1" required>
            <input #password type="password" name="password" class="form-control" placeholder="Password"
              aria-describedby="basic-addon1" required>
          </div>
          <button type="submit" (click)="register(username.value, email.value, password.value)" class="btn btn-primary">Register</button>
          <a routerLink="/login">Already registered? Log In</a>
        </div>
      </div>
</div>